page-configuracoes {
	.menuPrinc{
		.item-divider{
		    font-size: 1.6rem !important;
		    color: #fff !important;;
		    background: #c1c1c1 !important;;
		    font-weight: bold !important;;
		    letter-spacing: 0.3rem;			
		}
		.item-md{
			color: #424242;
			font-size: 2rem;
			font-weight: 500;
			background: #f8d448;
		}
	}
}
