<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Atores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-searchbar
	  [(ngModel)]="query"
	  [showCancelButton]="shouldShowCancel"
	  (ionCancel)="onCancel($event)"
	  (ionInput)="search($event)"
	  placeholder="Buscar...">
	</ion-searchbar>
	<div class="notfound" *ngIf='lista_filmes?.length === 0'>
		<ion-icon name="md-sad"></ion-icon>
		<span>Ator não encontrado!</span>
	</div>
<ion-card *ngFor="let person of lista_filmes">

		<ion-item>
			<h2 class="feed_title">{{ person.name }}</h2>
			<p class="feed_date">{{ person.id }}</p>
		</ion-item>

		<img src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}">

		<ion-row>
			<ion-card-content>
				<p><ion-icon name="heart"></ion-icon> Popularidade: {{person.popularity}}</p>
			</ion-card-content>
			<ion-col center text-center>
				<ion-note>
					<button ion-button (click)="openDetails(person)">Ver mais</button>
				</ion-note>
			</ion-col>
		</ion-row>

	</ion-card>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
