<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card *ngFor="let g of lista_filmes | slice:0:1">
    <img src="https://image.tmdb.org/t/p/w300/{{g.backdrop_path}}"/>
    <div class="card-title">{{g.title}}</div>
    <div class="card-subtitle">+ Votado {{g.vote_average}}</div>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let g of lista_filmes_now | slice:0:4">
      <ion-card class="teste">
          <img src="https://image.tmdb.org/t/p/w300/{{g.backdrop_path}}" (click)="openDetails(filme)"/>
          <div class="card-title">{{g.title}}</div>
<!--           <div class="card-subtitle">41 Listings</div> -->
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-card>
    <img src="../assets/imgs/tsconfig.png"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>
</ion-content>