page-home {
	.card-background-page {

		ion-card {
			position: relative;
			text-align: center;
			img{
				-webkit-filter: blur(1px);
				-moz-filter: blur(1px);
				-o-filter: blur(1px);
				-ms-filter: blur(1px);
				filter: blur(1px);				
			}
		}	

		.card-title {
			position: absolute;
			top: 36%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}

		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 77%;
			width: 100%;
			color: #fff;
		}
		[col-6]{
			.card-title {
				font-size: 1.0em;
			}
		}
	}
	.col{
		padding: 0;
	}
	.teste{
		margin-top: 0;
	}
}
